body,html{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}
header{
    width: 1140px;
    margin: 20px auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo{
    flex-basis: 900px;
}
#search{
    display: none;
}
#basket{

}
#account_menu{
    width: 130px;
    height: 38px;
    background: #f16d7f;
    color:#FFF;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#top_menu{
    width: 900px;
    margin: 30px auto;
}
#top_menu ul{
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
}
#top_menu ul li{
    text-transform: uppercase;
}
#banner{
    width:100%;
    height: 610px;
    background: #e8e8e8;
}
#banner_image{
    width: 1140px;
    background: url("../img/banner.png") no-repeat 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
#banner_text{
    top: 200px;
    position: absolute;
}
#deals{
    display: flex;
    width: 1140px;
    height: 500px;
    margin: 100px auto;
    justify-content: space-between;
}
#deals_left_column,#deals_right_column{
    flex-basis: 555px;
}
#deals_men{
    width: 555px;
    height: 542px;
    background: url("../img/men.png") no-repeat top left;
    position: relative;
}
.badge{
    background-color: #FFFFFF;
    padding: 15px;
    position: absolute;
    top: 25px;
    text-transform: uppercase;
    font-weight: 900;
}
.badge_sub{
    font-size: 18px;
    margin-bottom: 10px;
}
.badge_accent{
    font-size: 30px;
    color: #f16d7f;
}
